.material-icons-outlined {
    font-size: 29px
}

.container-fluid {
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 800px;
    background-color: white;
    position: fixed;
    padding-top: 2.2%;
    height: 12%;
    width: 100%;
    border: solid 1px;
    border-color: #e1dbdb;
    border-radius: 3px;
    /*justify-content: center;*/
}

.search-box {
    width: 300px;
    height: 37px;
    border: none;
    border-radius: 5px;
    /*background-color: rgba(234, 224, 224, 0.72);*/
    background-color: white;
}

.main {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 3.3%;
    /*padding-right: 10%;*/
    background-color: white;
    margin-right: 15%
}

.card_wrap {
    width: 614px;
    height: 1500px;
    background-color: white;
    margin-right: 15%;
    /*padding-right: 10%;*/
}

/*cards = top + mid + bottom + comment*/
.cards {
    border: solid 1px;
    border-color: #e1dbdb;
    border-radius: 3px;
    width: 614px;
    /*height: 812px;*/
    /*margin-right: 256px*/
}

/*스토리 상단*/
.card_top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*스토리 상단 프사틀*/
.box {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    margin: 1% 0 0 2.5%;
}

/*스토리 상단 프사*/
.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*스토리 상단 프사 이름*/
.profile_name {
    padding-left: 1.5%;
}

/*스토리 중단*/
.card_mid {
    width: 614px;
    height: 614px;
}

/*스토리 사진*/
.mid_img {
    padding-top: 1%;
    height: 614px;
}

.card_bottom {
    height: 100px;
}

/*바텀 아이콘*/
.bottom_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%;
}

/*바텀 북마크 아이콘*/
.bottom_icons_border {
    padding-right: 2%;
}

/*팔로우 추천*/
.recommend_follow {
    width: 293px;
    height: 937px;
    /*margin-right: 10%;*/
    /*background-color: gray;*/
    position: fixed;
    /*left: 10%;*/
    /*padding-right: 20px;*/
    /*right: 60%;*/
}

/*추천 상단*/
.recommend_follow_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

/*추천 상단 프사틀*/
.myprofile {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    margin: 1% 0 0 2.5%;
}

.myprofile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*추천 상단 아이디 이름*/
.myprofile_ni {
    padding-left: 3%;
    font-size: 13px;
    text-align: left;
}

.recommend_follow_mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    justify-content: space-between
}

/*추천 상단*/
.recommend_follow_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

/*추천 하단 프사틀*/
.fbprofile {
    width: 37px;
    height: 37px;
    border-radius: 70%;
    overflow: hidden;
    margin: 1% 0 0 2.5%;
}

.fbprofile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*추천 하단 아이디 이름*/
.fbprofile_ni {
    padding-left: 3%;
    font-size: 13px;
    text-align: left;
}

@media (max-width: 1000px) {
    .inputbox {
        display: none;
    }
}

@media (max-width: 900px) {
    .recommend_follow {
        display: none;
    }
}